.navigation {
    position: sticky;
    top: 0;
    background-color: #ffadad;
    outline: 6px solid #de5454;
    height: 60px;
    z-index: 100;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.navButton {
    background-color: #ffd3db;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
    outline: #e07474 2px solid;

    &:hover {
        background-color: #ffffff;
    }

    &:focus {
        outline: #de5454 3px solid;
    }

    &:last-child {
        margin-left: auto;
    }
}

.navButton_Text {
    font-size: 15px;
    font-weight: bold;
    transform: translateY(1px);
}
