.body {
    background-color: #000000;
    color: white;
}

.container {
    padding: 30px 20px;
    margin: auto;
    width: 1200px;
    box-sizing: border-box;

    @media (max-width: 1300px) {
        width: 100%;
    }
}
